In [3]:
import pandas as pd #importing required libraries
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [34]:
train_df=pd.read_csv("train.csv")
df = train_df # reading train data file
train_df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,DRIRC89L0T,18,137576,209136,846,26,2,10.47,60,0.81,High School,Self-employed,Single,Yes,No,Business,No,0
1,TS0FIUNHNU,47,57194,5970,748,30,2,19.72,36,0.73,High School,Unemployed,Divorced,No,Yes,Education,No,0
2,I0YR284A1V,26,84328,95065,453,7,2,24.25,12,0.45,Master's,Self-employed,Married,No,No,Other,Yes,0
3,WB1T7NQV8A,53,49795,229582,533,107,3,14.44,60,0.17,Bachelor's,Self-employed,Single,Yes,No,Auto,Yes,1
4,J6GU9M4G1Z,49,115450,22072,840,0,4,24.48,12,0.11,Bachelor's,Part-time,Single,No,Yes,Education,Yes,0

In [35]:
train_df.drop('LoanID', axis=1, inplace=True)

In [36]:


# Create a LabelEncoder object
le = LabelEncoder()

# Fit and transform the specified columns
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    train_df[col] = le.fit_transform(train_df[col])

train_df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,18,137576,209136,846,26,2,10.47,60,0.81,1,2,2,1,0,1,0,0
1,47,57194,5970,748,30,2,19.72,36,0.73,1,3,0,0,1,2,0,0
2,26,84328,95065,453,7,2,24.25,12,0.45,2,2,1,0,0,4,1,0
3,53,49795,229582,533,107,3,14.44,60,0.17,0,2,2,1,0,0,1,1
4,49,115450,22072,840,0,4,24.48,12,0.11,0,1,2,0,1,2,1,0

In [37]:


# Split data into features (X) and target (y)
X = train_df.drop('Default', axis=1)
y = train_df['Default']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51) # 80% train, 20% test
X_train.shape

(163421, 16)

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [39]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09384935210384135
R2 Score: 0.07831111240698607

In [40]:
from sklearn.linear_model import Lasso, Ridge

model = Lasso(alpha=0.8)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09942306581334485
R2 Score: 0.02357200261547643

In [41]:
model = Ridge(alpha=0.8)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09384934772412915
R2 Score: 0.07831115541987832

In [42]:
#use polynomial regression
order = 2
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(order)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

model = LinearRegression()
model.fit(X_train_poly, y_train)
y_pred = model.predict(X_test_poly)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09170896098818086
R2 Score: 0.09933176584979586

In [43]:
#use polynomial regression
order = 3
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(order)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

model = LinearRegression()
model.fit(X_train_poly, y_train)
y_pred = model.predict(X_test_poly)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09167864847053363
R2 Score: 0.09962946327704625

In [44]:
test_df=pd.read_csv('test.csv')

In [45]:
le = LabelEncoder()

# Fit and transform the specified columns
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    test_df[col] = le.fit_transform(test_df[col])

In [46]:
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    test_df[col] = le.fit_transform(test_df[col])

In [48]:
y_train = train_df['Default']
X_train = train_df.drop('Default', axis=1)
X_test = test_df.drop('LoanID', axis=1)

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

# Initialize the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Convert predictions to binary values (0 or 1) based on a threshold of 0.5
binary_predictions = (predictions >= 0.5).astype(int)



test_df = X_test.copy()  # Placeholder for your actual test dataset
test_df['LoanID'] = test_df['LoanID']  
test_df['Default'] = binary_predictions

# Save to CSV file
submission_df = test_df[['LoanID', 'Default']]
submission_df.to_csv('submission.csv', index=False)

Submission file 'submission.csv' created successfully.

In [56]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.feature_selection import SelectKBest, f_classif

train_df = pd.read_csv("train.csv")

train_df.drop('LoanID', axis=1, inplace=True)    


le = LabelEncoder()
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    train_df[col] = le.fit_transform(train_df[col])


X = train_df.drop('Default', axis=1)
y = train_df['Default']

k_best = 13  
selector = SelectKBest(score_func=f_classif, k=k_best)
X_new = selector.fit_transform(X, y)

selected_indices = selector.get_support(indices=True)
selected_features = X.columns[selected_indices]
print(f"Selected Features: {selected_features}")

X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, random_state=51)

Selected Features: Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'DTIRatio', 'Education',
       'EmploymentType', 'HasMortgage', 'HasDependents', 'HasCoSigner'],
      dtype='object')

In [57]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [58]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09388548429625426
R2 Score: 0.07795626030108649

In [59]:
#use polynomial regression
order = 3
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(order)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

model = LinearRegression()
model.fit(X_train_poly, y_train)
y_pred = model.predict(X_test_poly)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R2 Score: {r2}')

Mean Squared Error: 0.09149195881416075
R2 Score: 0.10146293125365047

In [60]:
test_df=pd.read_csv('test.csv')

In [61]:
le = LabelEncoder()

# Fit and transform the specified columns
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    test_df[col] = le.fit_transform(test_df[col])

In [67]:

X_test_selected = test_df[selected_features] 
X_test_selected.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,DTIRatio,Education,EmploymentType,HasMortgage,HasDependents,HasCoSigner
0,55,112656,92393,581,113,2,23.54,0.15,3,2,1,1,0
1,56,91569,131575,641,54,1,15.19,0.43,1,1,1,1,1
2,26,78169,75417,569,105,3,18.02,0.29,2,1,1,1,1
3,26,63033,10804,326,118,1,14.71,0.41,1,1,0,0,1
4,24,29665,21182,662,102,3,15.02,0.69,3,3,0,1,1

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

# Initialize the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test_selected)

# Convert predictions to binary values (0 or 1) based on a threshold of 0.5
binary_predictions = (predictions >= 0.5).astype(int)


test_df = X_test_selected.copy()  # Placeholder for your actual test dataset
test_df['LoanID'] = test_df['LoanID']  
test_df['Default'] = binary_predictions

# Save to CSV file
submission_df = test_df[['LoanID', 'Default']]
submission_df.to_csv('submission.csv', index=False)